*{
  margin:0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* box-decoration-break:clone; */
  
}
body{
  background-image:url("https://c0.wallpaperflare.com/preview/872/732/38/backlit-dawn-wallpaper-hd-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  
}
.container{
  margin-top: 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  text-align: center;
  margin-top: 5vw;
  
}
form,submiited-data{
  margin: 20px;
  text-align:center;
  width: 50%;
  height: 50%;
  /* filter: none; */
}
.container label{
  font-size: 25px;
  font-weight: bold;
}
.container div input{
  background: transparent;
  border-style: none;
  padding: 8px;
  width:18vw ;
  border-bottom: 1px solid ;

}
button{
  align-items: center;
  font-size: 20px;
  padding: 8px;
  width: 10vw;
  margin-top: 3vw;
  background-color: rgb(196,188,212);
  /* border-style: none; */
  border-radius: 5px;
}

.submitted-data{
  border-left: 1px solid;
  padding: 10vh;
  padding-left: 20vh;
  text-align: center;
  font-size: 20px;
  
}
.submitted-data h3{text-decoration: underline; margin: 3px;}
.submitted-data img{
  width: 50%;
  margin: 3px;
  border-radius: 50%;
}
.submitted-data p {
  margin: 2px;
}
.submitted-data p span{
  font-weight: bold;
}